<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link rel ="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <script th:href="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/demo2.js}"></script>
    <title>本一覧画面</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <div class="navbar-brand"><a href="/" style="color: #fff;"><i class="fa-solid fa-book"></i> Book Memory</a></div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                </button>
                <div class="collapse navbar-collapse header-list" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link active font" aria-current="page" href="/user/detail"><i class="fas fa-user-alt"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active font" aria-current="page" href="/book/search"><i class="fa-solid fa-magnifying-glass"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active font" aria-current="page" href="/book/" tabindex="-1" aria-disabled="true"><i class="fa-solid fa-list"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active font" aria-current="page" href="/book/form" tabindex="-1" aria-disabled="true"><i class="fa-sharp fa-solid fa-plus"></i></a>
                        </li>
                        <li class="nav-item">
                            <form  method="post" th:action="@{/logout}">
                                <button id="logout" class="logout-btn font" type="submit"><i class="fa-solid fa-arrow-right-from-bracket"></i></button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <h2 class="post-page-top text-center">投稿一覧ページ</h2>
    <table class="table book-table">
        <thead>
                <th scope="col">ID</th>
                <th scope="col">タイトル</th>
                <th scope="col">ジャンル</th>
                <th scope="col">お気に入りレベル</th>
                <th scope="col">値段</th>
                <th scope="col">出版社</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="book:${complete}" th:object="${book}">
                <td scope="row">[[${book.id}]]</td>
                <td><a th:href="@{/book/detail/{id}(id=${book.id})}">[[${book.title}]]</a></td>
                <td>[[${book.genre}]]</td>
                <td>[[${book.favorite}]]</td>
                <td>[[${book.price}]]円</td>
                <td>[[${book.publisher}]]</td>
            </tr>
        </tbody>
    </table>
</body>
</html>