<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
    <link rel ="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
	<title>本検索ページ</title>
</head>
<body>
	<header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <div class="navbar-brand"><a href="/" style="color: #fff;"><i class="fa-solid fa-book"></i> Book Memory</a></div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                </button>
                <div class="collapse navbar-collapse header-list" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link active font" aria-current="page" href="/user/detail"><i class="fas fa-user-alt"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active font" aria-current="page" href="/book/search"><i class="fa-solid fa-magnifying-glass"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active font" aria-current="page" href="/book/form" tabindex="-1" aria-disabled="true"><i class="fa-sharp fa-solid fa-plus"></i></a>
                        </li>
                        <li class="nav-item">
                            <form  method="post" th:action="@{/logout}">
                                <button id="logout" class="logout-btn font" type="submit"><i class="fa-solid fa-arrow-right-from-bracket"></i></button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    
	<h2 class="post-page-top text-center">書籍検索</h2> 
    <div class="search-home">
        <h5 class="search-form-top"><i class="fa-solid fa-magnifying-glass"></i> 条件を入力して書籍の検索をしてください！</h5>
        <form class="title-form" method="post" th:action="@{/book/search}" th:object="${bookList}">
            <div class="input-group input-group-lg">
                <span class="input-group-text" id="inputGroup-sizing-lg"><i class="fa-solid fa-book"></i>  書籍名で検索</span>
                <input type="text" name="text1" th:text="${text1}" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" />
            </div>
        </form>
        <form class="genre-search-form" method="post" th:action="@{/book/search}" th:object="${bookList}">
            <span class="genre-select-top"><i class="fa-sharp fa-solid fa-circle-check"></i> ジャンル選択</span>
            <select id="text1" name="text1" class="form-select genre-form" aria-label="Default select example" th:value="${text1}">
                <option selected>ジャンル選択</option>
                <option value="ミステリー" th:selected="${text1} == ミステリー">ミステリー</option>
                <option value="ビジネス" th:selected="${text1} == ビジネス">ビジネス</option>
                <option value="歴史・地理" th:selected="${text1} == 歴史・地理">歴史・地理</option>
                <option value="漫画" th:selected="${text1} == 漫画">漫画</option>
                <option value="料理" th:selected="${text1} == 料理">料理</option>
                <option value="スポーツ" th:selected="${text1} == スポーツ">スポーツ</option>
                <option value="子育て" th:selected="${text1} == 子育て">子育て</option>
                <option value="趣味" th:selected="${text1} == 趣味">趣味</option>
                <option value="旅行" th:selected="${text1} == 旅行">旅行</option>
                <option value="ダイエット" th:selected="${text1} == ダイエット">ダイエット</option>
            </select><br>
            <button class="btn btn-primary" type="submit">入力した条件で検索<i class="fa-sharp fa-solid fa-right"></i></button>
        </form>
        
        <table class="table search-table">
            <thead>
                <tr>
                    <th scope="col">書籍名</th>
                    <th scope="col">5段階評価</th>
                    <th scope="col">ジャンル</th>
                    <th scope="col">値段</th>
                    <th scope="col">出版社</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="book: ${bookList}" th:object="${bookList}">
                    <td><a th:href="@{/book/detail/{id}(id=${book.id})}">[[${book.title}]]</a></td>
                    <td>[[${book.favorite}]]</td>
                    <td>[[${book.genre}]]</td>
                    <td>[[${book.price}]]円</td>
                    <td>[[${book.publisher}]]</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>