<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
    <link rel ="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <title>ユーザー情報詳細</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <div class="navbar-brand"><a href="/" style="color: #fff;"><i class="fa-solid fa-book"></i> Book Memory</a></div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                </button>
                <div class="collapse navbar-collapse header-list" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link active font" aria-current="page" href="/user/detail"><i class="fas fa-user-alt"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active font" aria-current="page" href="/book/search"><i class="fa-solid fa-magnifying-glass"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active font" aria-current="page" href="/book/" tabindex="-1" aria-disabled="true"><i class="fa-solid fa-list"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active font" aria-current="page" href="/book/form" tabindex="-1" aria-disabled="true"><i class="fa-sharp fa-solid fa-plus"></i></a>
                        </li>
                        <li class="nav-item">
                            <form  method="post" th:action="@{/logout}">
                                <button id="logout" class="logout-btn font" type="submit"><i class="fa-solid fa-arrow-right-from-bracket"></i></button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="user-detail-home">
        <div class="container user-details-table">
            <h1 class="detail-page-top">ユーザー詳細</h1>
            <div class="row mx-md-n5">
                <div class="col-2 pt-3 border bg-light">ユーザー名</div>
                <div class="col pt-3 border">
                    <p th:text="*{user.username}"></p>
                </div>
            </div>
        </div>
        <table class="table book-table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">書籍名</th>
                    <th scope="col">ジャンル</th>
                    <th scope="col">5段階評価</th>
                    <th scope="col">値段</th>
                    <th scope="col">出版社</th>
                    <th scope="col">編集</th>
                    <th scope="col">削除</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="book:${complete}" th:object="${book}">
                    <td scope="row">[[${book.id}]]</td>
                    <td class="list-item"><a th:href="@{/book/detail/{id}(id=${book.id})}">[[${book.title}]]</a></td>
                    <td>[[${book.genre}]]</td>
                    <td>[[${book.favorite}]]</td>
                    <td>[[${book.price}]]円</td>
                    <td>[[${book.publisher}]]</td>
                    <td><a class="btn btn-primary" th:href="@{/book/edit/{id}(id=${book.id})}"><i class="fa-solid fa-pen-to-square"></i></a></td>
                    <td><a id="delete-btn" class="delete-action btn btn-danger" th:href="@{/book/delete/{id}(id=${book.id})}"><i class="fa-solid fa-trash"></i></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>